:root {
  --placeholderBG: #2b3945;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}
.css-1ue8due >option {
  background: #2b3945 !important;
  border-radius: 0.375rem !important;
}
input::placeholder {
  color: var(--placeholderBG);
}
